# EditorConfig is awesome: http://editorconfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.bat]
end_of_line = crlf

# PHP should follow the PSR-2 standard
[*.php]
indent_size = 4
