{
    "alias": "phpcompatinfo.phar",
    "force-autodiscovery": true,
    "directories": ["config"],
    "compression": "GZ",
    "stub": "stub.php",
    "files-bin": ["sbom.json", "console.txt"],
    "map": [
        { "console.txt": ".box.manifests/console.txt" },
        { "sbom.json": ".box.manifests/sbom.json" }
    ]
}
