{
    "alias": "phpcompatinfo.phar",
    "compression": "GZ",
    "blacklist": [
        "tests",
        "Test",
        "dist",
        "vendor-bin"
    ],
    "directories": [
        "bin",
        "src",
        "config",
        "vendor"
    ],
    "directories-bin": [
        "resources"
    ],
    "files-bin": [
        "autoload.php",
        "console-table.txt",
        "plain.txt",
        "sbom.json",
        ".box.manifests.bin"
    ],
    "dump-autoload": false,
    "map": [
        {
            "console-table.txt": ".box.manifests/console-table.txt"
        },
        {
            "plain.txt": ".box.manifests/plain.txt"
        },
        {
            "sbom.json": ".box.manifests/sbom.json"
        }
    ],
    "stub": "stub.php"
}
