parameters:
    level: 2
    paths:
        - src
    ignoreErrors:
        # Because https://github.com/phpstan/phpstan/issues/1332 not yet released.
        # See https://github.com/phpstan/phpstan/milestone/8
        - '#but return statement is missing.#'
