h1#_php_compatinfo_4 {
    margin-top: 20px;
}

.cover {
    height: 28em;
}

footer {
    display: none;
}

.panels {
    margin-top: 5em;
}

.ulist ul {
    list-style-type: none;
    padding-left: 1em;
}
