---
name: Unit Tests

on:
    pull_request:
        branches:
            - master
        paths-ignore:
            - 'docs/**'
    workflow_call:
    workflow_dispatch:

jobs:
    lint_files:
        uses: llaville/.github/.github/workflows/mega-linter.yml@master
        with:
            repository: ${{ github.repository }}
            php-version: "8.0"

    unit_tests:
        needs: lint_files

        runs-on: ${{ matrix.os }}

        strategy:
            fail-fast: false
            matrix:
                include:
                    -
                        os: ubuntu-20.04
                        php: 8.0
                        extensions: json,pcre,pdo,phar,spl,mbstring,sqlite
                        tools: phpunit:9.6
                    -
                        os: ubuntu-20.04
                        php: 8.1
                        extensions: json,pcre,pdo,phar,spl,mbstring,sqlite
                        tools: phpunit:10.5
                    -
                        os: ubuntu-20.04
                        php: 8.2
                        extensions: json,pcre,pdo,phar,spl,mbstring,sqlite
                        tools: phpunit:10.5
                    -
                        os: ubuntu-22.04
                        php: 8.3
                        extensions: json,pcre,pdo,phar,spl,mbstring,sqlite
                        tools: phpunit:10.5

        name: Compatibility Info

        env:
            APP_ENV: dev  # see explains at https://github.com/llaville/php-compatinfo-db/issues/101
            DATABASE_URL: "sqlite:///%kernel.cache_dir%/compatinfo-db.sqlite"

        steps:
            -   # https://github.com/actions/checkout
                name: Checkout
                uses: actions/checkout@v4

            -   # https://github.com/shivammathur/setup-php
                name: Setup PHP runtime
                uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ matrix.php }}
                    extensions: ${{ matrix.extensions }}
                    tools: ${{ matrix.tools }}

            -   # https://github.com/ramsey/composer-install
                name: Install Composer dependencies
                uses: ramsey/composer-install@v2
                with:
                    dependency-versions: "highest"
                    composer-options: "--prefer-dist --no-scripts"

            -   # https://github.com/llaville/php-compatinfo-db
                name: Build Database
                run: |
                    bin/phpcompatinfo db:new --ansi

            -   # https://github.com/sebastianbergmann/phpunit/tree/9.6
                name: Unit tests with PHPUnit 9
                if: |
                    ${{ matrix.php == '8.0' }}
                run: phpunit --group features,large,reference,regression,default --testdox --do-not-cache-result --configuration ./phpunit-9.xml
            -   # https://github.com/sebastianbergmann/phpunit/tree/10.5
                name: Unit tests with PHPUnit 10
                if: |
                    ${{ matrix.php == '8.1' }} ||
                    ${{ matrix.php == '8.2' }}
                run: phpunit --group features,large,reference,regression,default --testdox --do-not-cache-result
